@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-tajawal: "Tajawal", sans-serif;
  --color-primary: #0313bc;
}

body {
  font-family: var(--font-tajawal);
}

.markdown-body {
  line-height: 1.6;
}

.markdown-body p {
  margin-bottom: 0.5rem;
}
.markdown-body p:last-child {
  margin-bottom: 0;
}

.markdown-body ul, 
.markdown-body ol {
  margin-bottom: 0.5rem;
  padding-inline-start: 1.5rem; /* Better for RTL */
}

.markdown-body ul {
  list-style-type: disc;
}

.markdown-body ol {
  list-style-type: decimal;
}

.markdown-body li {
  margin-bottom: 0.25rem;
}

.markdown-body strong {
  font-weight: 800;
}

.markdown-body a {
  text-decoration: underline;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(3, 19, 188, 0.1);
  border-radius: 4px;
}
